<% layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course and Notes</title>
    <link rel="stylesheet" href="/css/show.css">
</head>
<body>
    <h1><%= course.title%></h1>
    <h2><%= course.instructor %></h2>

    <p> 
        <em> Description: <%= course.description  %> </em> 
    </p>
    <div>
        <a href="/courses/<%= course._id  %>/edit">Edit Details</a>
        <form action="/courses/<%= course._id %>?_method=DELETE" method="POST">
            <button>Delete Course</button>
        </form>
    </div>
    <h3>Notes</h3>

    <ul>
        <% for(let note of course.notes) {%>
            <div class="parent">
                <div class="beforeEdit">
                    <b><%= note.title %></b>
                    <p>
                        <%= note.contents %>
                    </p>


                    <button id="btnEdit">Edit Notes</button>
                    <form action="/courses/<%= course._id  %>/notes/<%= note._id %>?_method=DELETE" method="POST">
                        <button>Delete Notes</button>
                    </form>
                </div>
    
                <div class="afterEdit" style="display: none;">
                    <form action="/courses/<%= course._id  %>/notes/<%= note._id %>?_method=PUT" method="POST">
                        <label for="title">Title: </label>
                        <input type="text" id="title" name="note[title]" value="<%= note.title %>">
                        <br>
    
                        <label for="contents">Contents: </label><br>
                        <textarea name="note[contents]" id="contents" cols="50" rows="3" ><%= note.contents %></textarea>
                        <br>
                        <button id="cancelBtn">Cancel</button>
                        <button>Update Notes</button>
                    </form>
                </div>
            </div>
            
            
        <% } %>
    </ul>

    

    <div>
        <form action="/courses/<%=course._id%>/notes" method="post">
        
            <h4>Add New Notes</h4>
            <label for="title">Title:</label>
            <input type="text" name="note[title]" id="title">
            <br>
            <label for="contents">Contents</label><br>
            <textarea name="note[contents]" id="contents" cols="60" rows="10"></textarea>
            <br>
            <button>Add Notes</button>
        </form>
    </div>

    <a href="/courses">Back to Home Page</a>

<script src="/js/show.js"></script>
</body>
</html>