<% layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course and Notes</title>
</head>
<body>
    <h1><%= course.title%></h1>
    <h2><%= course.instructor %></h2>

    <p>Description: <%= course.description  %></p>
    <div>
        <a href="/courses/<%= course._id  %>/edit">Edit Details</a>
        <form action="/courses/<%= course._id %>?_method=DELETE" method="POST">
            <button>Delete Course</button>
        </form>
    </div>
    <h3>Notes</h3>

    <ul>
        <% for(let chapter of course.notes) {%>
            <b><%= chapter.title %></b>
            <p>
                <%= chapter.contents %>
            </p>
            <form action="/courses/<%= course._id  %>/notes/<%= chapter._id %>?_method=DELETE" method="POST">
                <button>Delete Notes</button>
            </form>
        <% } %>
    </ul>

    <div>
        <form action="/courses/<%=course._id%>/notes" method="post">
        
            <h4>Add New Notes</h4>
            <label for="title">Title:</label>
            <input type="text" name="note[title]" id="title">
            <br>
            <label for="contents">Contents</label><br>
            <textarea name="note[contents]" id="contents" cols="60" rows="10"></textarea>
            <br>
            <button>Add Notes</button>
        </form>
    </div>

    <a href="/courses">Back to Home Page</a>
</body>
</html>